%extend_h1{
                    color: $black_color;
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    letter-spacing: 0.1px;
}
%extend_li{
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.08px;
color: $black_color;
}
%extend_banner_btn{
    background: #B43FEB;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.08px;
    border: none;
    color: #F9F9F9;
}
%extend_li_menu{
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
letter-spacing: 0.08px;
color: $menu_color;
}
%extend_logos{
    padding: 16px 24px;
    border-radius: 24px;
    border: 1px solid #727578;
}
%extend_label{
    label{
        font-family: $font_family;
        color: #78828A;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.07px;
        margin-top: 26px;

    }
}
%extend_input{
    input{
        padding: 10px 12px;
        width: 501px;
        height: 52px;
        border-radius: 24px;
        border: 1px solid #E9EBED;
        background: #F9F9F9;
        align-items: center;
        align-self: stretch;
    }
}